spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: dragon-of-north
  datasource:
    url: jdbc:${db_name}://${db_url}:${db_port}/dragon_of_north
    username: ${db_username}
    password: ${db_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database: ${db_name}
    hibernate:
      ddl-auto: ${db_ddl_auto}
    open-in-view: false
  jackson:
    property-naming-strategy: SNAKE_CASE
  data:
    redis:
      host: ${redis_host}
      port: 6379
      password: ${redis_password}
      repositories:
        enabled: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: true
    out-of-order: false



app:
  security:
    jwt:
      expiration:
        access-token: ${access_token}
        refresh-token: ${refresh_token}

otp:
  length: ${otp_length}
  ttl-minutes: ${otp_ttl_minutes}
  max-verify-attempts: ${otp_max_verify_attempts}
  request-window-seconds: ${otp_request_window_seconds}
  block-duration-minutes: ${otp_block_duration_minutes}
  resend-cooldown-seconds: ${otp_resend_cooldown_seconds}
  max-requests-per-window: ${otp_max_requests_per_window}
  cleanup:
    delay-ms: ${otp_cleanup_delay_ms}

auth:
  signup:
    request-window-seconds: ${auth_signup_request_window_seconds}
    max-requests-per-window: ${auth_signup_max_requests_per_window}
    block-duration-minutes: ${auth_signup_block_duration_minutes}

  login:
    max-failed-attempts: ${auth_login_max_failed_attempts}
    block-duration-minutes: ${auth_login_block_duration_minutes}

aws:
  region: ${aws_region}
  ses:
    sender: ${aws_ses_sender}

rate-limit:
  endpoints:
    signup:
      pattern: /api/v1/auth/identifier/sign-up
      type: signup
    login:
      pattern: /api/v1/auth/identifier/login
      type: login
    #      change if phone number added
    send-otp:
      pattern: /api/v1/otp/email/request
      type: otp
    verify-otp:
      pattern: /api/v1/otp/email/verify
      type: otp
  rules:
    signup:
      capacity: 3
      refill-tokens: 3
      refill-minutes: 60
    login:
      capacity: 10
      refill-tokens: 10
      refill-minutes: 15
    otp:
      capacity: 5
      refill-tokens: 5
      refill-minutes: 30

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: never
  prometheus:
    metrics:
      export:
        enabled: true

keys:
  public: ${public_key_path}
  private: ${private_key_path}

springdoc:
  swagger-ui:
    urls:
      - url: https://${backend_url}/v3/api-docs
        name: EC2
      - url: http://localhost:8080/v3/api-docs
        name: LOCAL

session:
  cleanup:
    delay-ms: 900000
    revoked-retention-days: 7