spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: dragon-of-north
  datasource:
    url: jdbc:postgresql:/${db_url}:${db_port}/dragon_of_north
    username: ${db_username}
    password: ${db_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database: PostgreSql
    hibernate:
      ddl-auto: create
  jackson:
    property-naming-strategy: SNAKE_CASE

app:
  security:
    jwt:
      expiration:
        access-token: 900000 # 15 minutes
        refresh-token: 604800000 # 7 days

otp:
  length: 6
  ttl-minutes: 10
  max-verify-attempts: 3
  request-window-seconds: 3600
  block-duration-minutes: 15
  resend-cooldown-seconds: 60
  max-requests-per-window: 10
  cleanup:
    delay-ms: 3599999

auth:
  signup:
    request-window-seconds: 3600
    max-requests-per-window: 5
    block-duration-minutes: 30

  login:
    max-failed-attempts: 5
    block-duration-minutes: 15

aws:
  region: us-east-1
  ses:
    sender: shaking.121@gmail.com

